*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#090909;

color:white;

}

header{

display:flex;

justify-content:space-between;

padding:35px 8%;

}

.logo{

font-size:32px;

font-weight:900;

color:#ff9d00;

}

nav{

display:flex;

gap:35px;

}

nav a{

color:#ddd;

text-decoration:none;

}

.hero{

height:85vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:

radial-gradient(
circle,
rgba(255,150,0,.25),
transparent 50%
);

}

.hero h1{

font-size:140px;

font-weight:900;

}

.hero p{

margin-top:15px;

opacity:.8;

}

.botao{

margin-top:35px;

padding:18px 60px;

border-radius:999px;

background:

linear-gradient(
90deg,
#ffb300,
#ff7000
);

color:black;

}

.painel{

padding:80px;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:25px;

}

.card{

background:#141414;

padding:45px;

border-radius:22px;

}
