*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#050505;

color:white;

}

.blur{

position:fixed;

width:600px;

height:600px;

background:#ff9900;

filter:blur(250px);

opacity:.2;

left:50%;

transform:translateX(-50%);

z-index:-1;

}

header{

display:flex;

justify-content:space-between;

padding:30px 10%;

}

.logo{

font-size:35px;

font-weight:900;

color:#ffb300;

}

nav{

display:flex;

gap:30px;

}

.hero{

height:80vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h1{

font-size:140px;

color:#ffb300;

}

.hero p{

font-size:24px;

opacity:.8;

}

button{

margin-top:30px;

padding:18px 60px;

border:none;

border-radius:999px;

background:#ffb300;

}

.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:30px;

padding:80px;

}

.card{

background:#111;

padding:50px;

border-radius:25px;

}

footer{

padding:50px;

text-align:center;

}
