*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:
linear-gradient(
135deg,
#050505,
#161616
);

color:white;

}

header{

display:flex;

justify-content:space-between;

padding:25px 10%;

}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

}

.hero{

height:90vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h2{

font-size:80px;

color:#ffd000;

}

.hero p{

margin-top:20px;

font-size:22px;

opacity:.8;

}

button{

margin-top:30px;

padding:18px 60px;

background:#ffd000;

border:none;

border-radius:12px;

font-size:20px;

cursor:pointer;

}

.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:25px;

padding:80px;

}

.card{

background:#111;

padding:40px;

border-radius:20px;

transition:.3s;

}

.card:hover{

transform:
translateY(-10px);

}

.projetos{

padding:80px;

text-align:center;

}

.grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:25px;

margin-top:30px;

}

.box{

height:260px;

border-radius:20px;

background:

linear-gradient(
135deg,
#ffd000,
#ff8000
);

}

footer{

padding:40px;

text-align:center;

opacity:.6;

}
